body{
	margin: 0px;
	border-left: 200px solid #777777;
	border-right: 200px solid #777777;
}
.left_panel{
	margin: 0 0;
	background: #060606;
	width: 25vw;
	height: 175%;
	float: left;

}
.right_panel{
	margin: 0 0;
	background: #b6b9b6;
	height: 175%;
}
#avatar{
	border-radius: 100px;
	margin: 0 auto;
	display: block;
	padding-top: 10px;
}

#name{
	font-size: 4.5em;
	text-align: center;
	margin-bottom: 0px;
}

#projects{
	margin-top: 195px;
}

#courses{
	margin-top: 190px;
}

#interest{
	padding: 0px;
	margin-top: 105px;
}

.options{
	float: right;
	margin: 0 10;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	color: aliceblue;
}

#contact{
	text-align: center;
	margin: 0 0;
}


#links{
	margin:0 0;
	text-align: center;
}

.list{
	padding-top:5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 375px;
	margin-top: 30px;
}

.list_attr{
	padding:10px;
}

#projects_list{
	margin-top:0px;
	padding-top: 5px;
}

#interests_list{
	padding-top:0px;
}