body{
	overflow: scroll;
}
.grid_body{
	margin: auto 10%;
}

.main{
	display: grid;
	width: 100%;
	grid-template-columns:3fr 1fr;
}


.main_heading{
	grid-column-start:1;
	grid-column-end:3;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	border-top: 10px solid #aeaeae;
	border-bottom: 10px solid #aeaeae;
	border-radius: 5px;
	background-color: #aeaeae;
}

.campaign{
	grid-column-start:2;
	grid-column-end:3;
	background-color: #aeaeae;
	padding:5%;
	margin: auto 5%;
	margin-top: 0px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main_content{
	grid-column-start:1;
	grid-column-end:2;
}

.inside_header_content{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin: 2% auto;
}

.first_content{
	grid-column-start:1;
	grid-column-end:2;
	text-overflow: ellipsis;
}


.second_content{
	grid-column-start:2;
	grid-column-end:3;
}


.thrid_content{
	grid-column-start:3;
	grid-column-end:4;
}

.article_content{
	height: 250px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	overflow:hidden;
	text-overflow: ellipsis;
	border: 2px solid #aeaeae;
}

.inside_campaign{
	text-overflow: ellipsis;
}

hr{
	margin: 0px 0px;
}

.article_header{
	text-align: center;
	background-color: #aeaeae;
}

.inside_header{
	background-color: #a584ad;
	text-align: center;
	border-bottom: 5px solid #a584ad;
    border-top: 5px solid #a584ad;
}

.inside_article{
	padding:5px;
}

.image{
	width: 100%;
	display: block;
	margin: 0 auto;
}

.footer{
	background-color: #aeaeae;
	margin: 0px 0px;

}

@media(max-width: 480px){
	.main_content{
		grid-column-start:1;
		grid-column-end:3;
	}
	.campaign{
		grid-column-start:1;
		grid-column-end:3;
	}
}